.filter-wrapper button {
  border: none;
  background: #fff;
  color: var(--blue);
  border-radius: 1rem;
  border: 1px solid var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s linear;
}

button.active {
  background: var(--blue);
  color: #fff;
}