:root {
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --main-color: #e02f6b;
  --blue: rgb(65, 98, 168);
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.40);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.12;
}

.app {
  background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
}

.card-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}